<div class="form-container">
  <h1>Contact Us :-)</h1>

  <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">

    <h4 *ngIf="success"class="h4success">Message was sent</h4>
    <h4 *ngIf="submitted && !success"class="h4error">Message was not sent {{ status }}</h4>

    <label>
      Email
      <input type="text" formControlName="email">
      <div *ngIf="submitted && messageForm.controls.email.errors" class="error">
        <div *ngIf="messageForm.controls.email.errors.required">A email is required</div>
      </div>
    </label>

    <label>
      Subject
      <input type="text" formControlName="subject">
      <div *ngIf="submitted && messageForm.controls.subject.errors" class="error">
        <div *ngIf="messageForm.controls.subject.errors.required">A subject is required</div>
      </div>
    </label>

    <label>
      Body
      <textarea formControlName="body"></textarea>
      <div *ngIf="submitted && messageForm.controls.body.errors" class="error">
        <div *ngIf="messageForm.controls.body.errors.required">A body is required</div>
      </div>
    </label>

    <input type="submit" value="Send message" class="cta">

    <div *ngIf="submitted && success" class="results">
      <strong>Email</strong>
      <span>{{ messageForm.controls.email.value }}</span>

      <strong>Subject</strong>
      <span>{{ messageForm.controls.subject.value }}</span>

      <strong>Body</strong>
      <span>{{ messageForm.controls.body.value }}</span>
    </div>

    <br><br>

    <!-- <div *ngIf="submitted && !success" class="statuserror">
      <strong>
        <label class="form-control"[(ngForm)]="status" name="status">HTTP Error</label>
      </strong>
    </div> -->

  </form>


</div>
